body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-app {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    text-align: center;
    position: relative;
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}

.flag {
    width: 30px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
}

.current-weather,
.forecast {
    margin-bottom: 20px;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
}

.forecast-day {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.forecast-day p {
    margin: 5px 0;
}